#container {
    min-height: 100vh;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, minmax(100px, auto));
}

header {
    grid-area: header;
    background-color: rgb(12, 12, 12);
    color: #fff;
    padding: 2rem;
    grid-row: 1 / 2;
    grid-column: span 4;
    height: 120px;
}

main {
    grid-area: main;
    padding: 2rem;
    grid-row: 2 / 7;
    grid-column: span 4;

}

footer {
    grid-area: footer;
    padding: 2rem;
    grid-row: 7 / 8;
    grid-column: span 4;
    border-top: 3px solid #ebebeb;
    height: 200px;
}

nav {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

nav h2 a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
    transition: all ease-in 0.2s;
}

nav h2 a:hover {
    cursor: pointer;
    font-size: 2.02rem;
    text-shadow: 2px 4px#595555;
}

.main-content {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}